<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/css/style.css">
  
  <title>PetCare | About</title>
</head>

<body>
  

  <header id="main-header">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><span class="negro">Pet</span><span class="rojo">Care</span></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/productos.html">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../views/about.html">Sobre Nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../views/register.html">Registro</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

  </header>

  <div class="container register-container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-3">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Registrate</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Usuari" required autofocus>
                <label for="inputUserame">Usuario</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail" required>
                <label for="inputEmail">Email </label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Clave</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirma Clave</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrate</button>
              <a class="d-block text-center mt-2 small" href="#">Ingresa</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Ingresar con Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Ingresar con Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 
       <div class="register-photo">
          <div class="form-container">
              <div class="image-holder"></div>
              <form method="post">
                  <h2 class="text-center"><strong>Crea</strong> una cuenta</h2>
                  <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Mail"></div>
                  <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                  <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repetir)"></div>
                  <div class="form-group">
                      <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">Concuerdo con las Politicas</label></div>
                  </div>
                  <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Ingresar</button></div><a href="#" class="already">Ya tenes una cuenta? Ingresa aca.</a></form>
          </div>
      </div>
    --> 
       
</body>

</html>