<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Pet-Servicios</title>
</head>

<body>

  <header id="main-header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><span class="negro">Pet</span><span class="rojo">Care</span></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../views/servicios.html" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../views/servicios.html">Aseos Mascotas</a>
              <a class="dropdown-item" href="../views/servicios.html">Pensionados</a>
              <a class="dropdown-item" href="../views/servicios.html">Paseadores</a>
              <a class="dropdown-item" href="../views/servicios.html">Servicio Veterinario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../views/servicios.html#calendar">Agenda</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="../views/productos.html">Productos <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../views/about.html">Sobre Nosotros</a>
          </li>

         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../views/register.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Registo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../views/register.html">Registro</a>
              <a class="dropdown-item" href="../views/precios.html">Precios</a>
              
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0 search" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

  </header>

  <div class="container-fluid">

  <section class="details-card ">

      <div class="card-deck card-group">

        <div class="card">
          <img class="card-img-top" src="../img/banio.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bañamos a tu Mascota</h5>
            <p class="card-text"> Bañamos, cortamos el pelo y su uñas. El proceso de aseo es personalizado. Se utilizan
              productos cruelty-free </p>
          </div>

          <div class="card-footer">
            <small> <a href="#calendar" class="btn btn-card ">Agenda!</a></small>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../img/alojamiento.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pensionados Semanales o Mensuales</h5>
            <p class="card-text">En casas de familia o pensionados caninos, para que tu mascota se sienta como en casa.
              Con una entrevista previa donde conoceras el lugar de alojamiento, podras seleccionar donde tu mascota se
              siente mas a gusto. Los pensionados son semanales y mensuales</p>
          </div>

          <div class="card-footer">
            <small> <a href="#calendar" class="btn btn-card ">Agenda!</a></small>
          </div>
        </div>

        <div class="card">

          <img class="card-img-top" src="../img/paseos.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Paseadores Especializados</h5>
            <p class="card-text">Podes contratar paseadores especializados que se ocuparan de tu mascota. En turnos de
              medio dia o dia completo podras dar a tu mascota calidad de vida al hacer caminatas diarias</p>
          </div>
          <div class="card-footer">
            <small> <a href="#calendar" class="btn btn-card ">Agenda!</a></small>

          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="../img/veterinaria.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Servicio Veterinaria</h5>
            <p class="card-text">Atendemos Urgencias y Consultas programadas las 24 horas del dia. En clinicas
              especializadas nos ocupamos de consultas, practicas medicas, odontologias y de vacunacion</p>
          </div>
          <div class="card-footer">
            <small> <a href="Veterinarias.html" class="btn btn-card ">Lee Mas</a></small>
          </div>
        </div>

      </div>

    
  </section>
</div>
 
  <div class="container" id="calendar">
    <h1>Reservas de Mayo - 2021</h1>
    <table >
      <tr><td class="lastmonth">30</td><td>1</td><td>2</td><td>3</td><td class="hastask">4</td><td>5</td><td>6</td></tr>
      <tr><td>7</td><td class="current">8</td><td class="hastask">9</td><td>10</td><td>11</td><td class="hastask">12</td><td>13</td></tr>
      <tr><td>14</td><td class="hastask">15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>
      <tr><td class="hastask">21</td><td>22</td><td>23</td><td>24</td><td>25</td><td class="hastask">26</td><td>27</td></tr>
      <tr><td>28</td><td>29</td><td class="hastask">30</td><td>31</td><td class="nextmonth">1</td><td>2</td><td>3</td></tr>
    </table>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

</body>

</html>