<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">

  <title>PetCare | Veterinarias</title>
</head>

<body>


  <header id="main-header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><span class="negro">Pet</span><span class="rojo">Care</span></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/productos.html">Prductos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../views/about.html">Sobre Nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../views/register.html">Registro</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0 search" type="submit">Buscar</button>
        </form>
      </div>
    </nav>


    <!--Grid row-->
    <div class="container cont-vet">

      <div class="row">

        <h4>Red de Veterinarias - Servicio 24 Horas </h4>
        <p class="large">
          Toda la red de verterinarias que trabajan con nosotros estan comprometidos en atender a tus mascotas. El servicio que incluimos cubre el 100% de las consultas menos las practicas medicas como RX, Ecogrfias, Extracciones de Sangre. 
          

      </div>

      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header blue-gradient">
              <h5 class="mb-0">AVI Veterinaria - Atencion Integral</h5>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade text-center">

              <!--Google map-->
              <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.2243348194015!2d-58.47383368520909!3d-34.54787498047392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6999d47c50f%3A0x2510c0339760703!2sAvi%20Atenci%C3%B3n%20Integral%20Veterinaria!5e0!3m2!1ses!2sar!4v1617884622431!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                  frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header blue-gradient">
              <h5 class="mb-0">LeoCan</h5>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade text-center">

              <!--Google map-->
              <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.91954959805!2d-58.462032784771544!3d-34.55559228047192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42bd3cc40d9%3A0xf415794830aa1bb2!2sManuel%20Ugarte%202226%2C%20C1428%20CABA!5e0!3m2!1ses!2sar!4v1617885058019!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
        </div>

        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!--Card-->
            <div class="card card-cascade narrower">
  
              <!--Card image-->
              <div class="view view-cascade gradient-card-header blue-gradient">
                <h5 class="mb-0"> Laboratorios Rumnial</h5>
              </div>
              <!--/Card image-->
  
              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
  
                <!--Google map-->
                <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4474525754626!2d-58.503803385209295!3d-34.54222458047537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6da0abf2229%3A0x9c74eaa363c51323!2sLaboratorios%20Ruminal!5e0!3m2!1ses!2sar!4v1617885177091!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
  
              </div>
              <!--/.Card content-->
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!--Card-->
            <div class="card card-cascade narrower">
  
              <!--Card image-->
              <div class="view view-cascade gradient-card-header blue-gradient">
                <h5 class="mb-0">Puppies Veterinaria </h5>
              </div>
              <!--/Card image-->
  
              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
  
                <!--Google map-->
                <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6561527767435!2d-58.41351468520784!3d-34.58756598046367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8227c4a84d%3A0xa447627505edb885!2sPuppis%20Veterinaria%2C%20Peluqueria%20y%20Pet%20Shop!5e0!3m2!1ses!2sar!4v1617885313767!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
  
              </div>
              <!--/.Card content-->
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  

      </div>
      <!--Grid row-->

    </div>

  </header>





  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>

</html>